<a href="https://colab.research.google.com/github/iampawan19/pandas.beginnner/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
s1 = pd.Series([1,2,3,4,5])

In [6]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
#Change series index
s1 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
#creating Series using Dictionary
pd.Series({'a':10,'b':20,'c':0})

a    10
b    20
c     0
dtype: int64

In [12]:
#Extracting Individual Elements
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[4]

5

In [13]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[-4:]

5    6
6    7
7    8
8    9
dtype: int64

In [14]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[4:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [15]:
#adding scaler value to the series 
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [16]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s2=pd.Series([10,20,30,40,50,60,70,80,90])
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [18]:
#Dataframe of 2 dimensional Data
import pandas as pd
pd.DataFrame({"Name":['Bob','Sam','Anne'],"Marks":[76,25,92]})

   Name  Marks
0   Bob     76
1   Sam     25
2  Anne     92